<div class="container" id="actor">
    <div class="row">
        <div class="col-3">
            <% if @actor.pic %>
                <img src="<%= @actor.pic %>" alt="profile pic" class="pics rounded border">
            <% else %>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZ-DmIegqV6NuZRRdNs2sxqmYI39YksNtj7Q&usqp=CAU" class="pics rounded border">
            <% end %><br></div>
        <div class="col-6" id="actor">
            <h1 id="actor">
                <%= @actor.name %>
            </h1>
            <div id="actor">
                Gender: <%= @actor.sex %><br>
                Age: <%= @actor.age %><br>
                Past Roles: <br>
            </div>
        </div>
        <% if current_actor %>
            <div class="col-3 pt-5">
                <%= button_to "Edit Profile", edit_actor_registration_path(@actor), method: :get %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-3">
            <div>
                Auditions:
                <% @actor.auditions.each do |audition| %>
                    Event: <%= link_to audition.event.title, event_path(audition.event) %><br>
                    Date: <%= audition.event.date.strftime("%B %d, %Y") %><br>
                    Time: <%= audition.time.strftime("%I:%M%p") %><br>
                    <br>
                <% end %>
            </div>
        </div>
        <div class="col-9" id="actor">
            About: <br>
        </div>
    </div>
</div>

<div>
    <% if current_casting_agent %>
        <%= button_to "Back to All Actors", actors_path, :class => "btn btn-outline-primary" %>
    <% end %>
</div>