<h1><%= @actor.name %></h1><br>
Sex: <%= @actor.sex %><br>
Age: <%= @actor.age %><br>
Auditions:
<ul>
<% @actor.auditions.each do |audition| %>
    <li><%= link_to "Event: #{audition.event.title}, Date: #{audition.event.date}, Time: #{audition.time.strftime("%I:%M%p")}", event_path(audition.event) %></li>
<% end %>
</ul>

<%= link_to "Back to All Actors", actors_path %>
