<h1><%= @actor.name %></h1><br>
Profile Pic: <br>
Sex: <%= @actor.sex %><br>
Age: <%= @actor.age %><br>
About: <br>
Past Roles: <br>
Auditions:
<ul>
<% @actor.auditions.each do |audition| %>
    <li>Event: <%= link_to audition.event.title, event_path(audition.event) %><br>
    Date: <%= audition.event.date.strftime("%B %d, %Y") %><br>
    Time: <%= audition.time.strftime("%I:%M%p") %> </li><br>
    <br>
<% end %>
</ul>


<% if current_casting_agent %>
    <%= link_to "Back to All Actors", actors_path %>
<% end %>