<% if @audition.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@audition.errors.count, "error") %> prohibited this audition from being saved:</h2>
 
    <ul>
    <% @audition.errors[:time].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:event] %>
  <% @audition.event_id = flash[:event]['id'] %>
  <% @audition.actor_id = flash[:actor]['id'] %>
  <% @audition.time = flash[:requested_time] %>
<% end %>

<%= form_for @audition do |f| %>
    <%= f.label :time %>
    <%= f.time_select :time, { :ampm => true, :minute_step => 15 }, {:selected => @audition.time} %><br>
    <%= f.label :actor %>
    <%= f.collection_select :actor_id, Actor.all, :id, :name, {:selected => @audition.actor_id} %><br>
    <%= f.label :event_id %>
    <%= f.collection_select :event_id, Event.all, :id, :title, {:selected => @audition.event_id} %><br>
    <%= f.submit %><br>
<% end %>