<% if flash[:errors] %>
  <div id="error_explanation">
    <h2><%= pluralize(flash[:errors].count, "error") %> prohibited this audition from being saved:</h2>
 
    <ul>
    <%  flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div>
  <%= form_for @event do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %><br>
      <%= f.label :audition_date %>
      <%= f.date_select :date %><br>
      <%= f.label :show_dates %>
      <%= f.text_field :show_dates %><br>
      <%= f.label :audition_location %>
      <%= f.text_field :location %><br>
      <%= f.label :show_location %>
      <%= f.text_field :show_location %><br>
      <%= f.label :production_type %>
      <%= f.text_field :production_type %><br>
      <%= f.label :about %>
      <%= f.text_area :about %><br>
      <%= f.label :pic %>
      <%= f.url_field :pic %><br>

      <div class="actions form-group">
          <%= f.submit "Submit Event", method: :get, :class => "btn btn-outline-primary mt-3" %>
      </div>
  <% end %>
</div>