<h1>All Events</h1>

<%= form_tag(events_path, method: "get") do %>
  <%= label_tag(:q, "Search by Casting Agent:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
<% @events.each do |event| %>
    <li>Title: <%= link_to event.title, event_path(event) %><br>
    Casting Director: <%= event.casting_agent.name %><br></li>
<% end %>
</ul>