<h1>Upcoming Productions</h1>

<div>
    <% if current_casting_agent %>
        <%= button_to("Create New Event", new_event_path, method: :get, :class => "btn btn-outline-primary mt-5") %><br>
    <% end %>
</div>

<br>

<div class="container mt-5">
    <%= form_tag(events_path, method: "get", :class => "form-inline justify-content-center") do %>
        <%= label_tag(:q, "Search by Casting Agent:") %>
        <%= collection_select(:q, :id, CastingAgent.all, :id, :name, { prompt: :true}, { :class => "custom-select mx-1" }) %>
        <%= submit_tag("Search", :class => "btn btn-outline-secondary btn") %><br>
    <% end %>
<br>
</div>

<div class="parent mt-5">
    <% @count = 1%>
    <% @events.each do |event| %>
        <div class="div<%= @count %>">
        <img src='<%= event.pic %>', class="mb-2 pics rounded border"><br>
        Title: <%= link_to event.title, event_path(event) %><br>
        <% if event.casting_agent%>
            Casting Director: <%= link_to event.casting_agent.name, casting_agent_path(event.casting_agent) %><br>
        <% end %>
        Audition Date: <%= event.formatted_date %><br>
        <% @count += 1 %>
        </div>
    <% end %>
</div>
