<h1>All Events</h1>

<%= link_to "Create New Event", new_event_path %><br>


<br>

<% if current_casting_agent %>
    <%= form_tag(events_path, method: "get") do %>
    <%= label_tag(:q, "Search by Casting Agent:") %>
    <%= collection_select(:q, :id, CastingAgent.all, :id, :name, prompt: :true) %>
    <%= submit_tag("Search") %><%= link_to "Back to All", events_path %><br>
    <% end %>
<% end %>


<ul>
<% @events.each do |event| %>
    <li>Title:<%= link_to event.title, event_path(event) %><br>
    Casting Director: <%= event.casting_agent.name %><br></li>
<% end %>
</ul>
