<h1><%= @event.title %></h1>
<h4>Audition Date: <%= @event.date %></h4><br>
<h4>Show Dates: </h4><br>
Audition Location: <%= @event.location %><br>
Show Location: <br>
Production Type: <%= @event.production_type %>
<hr>
About: <br>
<br>
<br>

<% if current_casting_agent && current_casting_agent == @event.casting_agent %>
    <%= button_to "Edit Event", edit_event_path(@event), method: :get %>
    <%= button_to "Delete Event", event_path(@event), method: :delete, data: { confirm: "Are you sure you want to delete #{@event.title} on #{@event.date}?" } %>
<% end %>