<h1>
    Audition Requests
</h1>

<div>
    <% if current_actor %>
        <%= link_to "Request an Audition", new_request_path %><br>
        <br>
    <% end %>
</div>

<div>
    <% @requests.each do |request| %>
        Event: <%= request.event.title %><br>
        <% if current_casting_agent %>
            Actor: <%= request.actor.name %><br>
        <% elsif current_actor %>
            Casting Agent: <%= request.find_casting_agent.name %><br>
        <% end %>
        Requested Time: <%= request.requested_time.strftime("%I:%M %p") %><br>
        <% if current_casting_agent%>
            <%= button_to "Accept Request", update_request_path(request), method: :patch %><br>
            <%= button_to "Delete Request", delete_request_path(request) %><br>
        <% end %>
        <% if current_actor %>
            Status: Pending <br>
        <% end %>
        <br>
    <% end %>
</div>