<div class="mt-4"><h2>Edit Profile</h2></div>
<div class="container mt-5">
            <% if @actor.pic %>
                <img src="<%= @actor.pic %>" alt="profile pic" class="pics rounded border">
            <% else %>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZ-DmIegqV6NuZRRdNs2sxqmYI39YksNtj7Q&usqp=CAU" class="pics rounded border">
            <% end %></div>

<div class="container mt-3">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "casting_agents/shared/error_messages", resource: resource %>

        <div class="field form-group px-5 mx-5">
          <%= f.label "Profile Picture" %>
          <%= f.text_field :pic, class: "form-control text-center", placeholder: "Profile URL" %>
        </div>
          
        <div class="field form-group px-5 mx-5">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control text-center", placeholder: "Full Name", autofocus: true %><br>
        </div>

        <div class="field form-group px-5 mx-5">
          <%= f.label "Gender" %>
          <%= f.text_field :sex, class: "form-control text-center", placeholder: "Gender" %><br>
        </div>

        <div class="field form-group px-5 mx-5">
          <%= f.label :age %>
          <%= f.number_field :age, class: "form-control text-center", placeholder: "Age" %><br>
        </div>
        
        <div class="field form-group px-5 mx-5">
          <%= f.label :username %>
          <%= f.text_field :username, class: "form-control text-center", placeholder: "Username" %>
        </div>
        
        <div class="field form-group px-5 mx-5 pb-3">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: "form-control text-center", placeholder: "email@example.com", autocomplete: "email" %>
        </div>

        <div class="field form-group px-5 mx-5 pb-3">
          <%= f.label :past_roles %><br />
          <%= f.text_area :past_roles, class: "form-control text-center", placeholder: "Past Roles" %>
        </div>

        <div class="field form-group px-5 mx-5 pb-3">
          <%= f.label :about %><br />
          <%= f.text_area :about, class: "form-control text-center", placeholder: "About" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field form-group px-5 mx-5 pb-3">
          <%= f.label :password %><br> 
          <i>(leave blank if you don't want to change it)</i><br>
          <%= f.password_field :password, class: "form-control text-center", placeholder: "New Password", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field form-group px-5 mx-5 pb-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: "form-control text-center", placeholder: "New Password Confirmation", autocomplete: "new-password" %>
        </div>

        <div class="field form-group px-5 mx-5 pb-3">
          <%= f.label :current_password %>
          <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: "form-control text-center", placeholder: "Current Password", autocomplete: "current-password" %>
        </div>

        <div class="actions form-group px-5 mx-5">
          <%= f.submit("Update", :class => "btn btn-outline-primary") %>
        </div>
      <% end %>

      </div>
      <hr class="my-4">
      <div class="container">
      <h3>Cancel Account</h3>

      <p>Unhappy? <%= button_to("Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-outline-danger mb-5") %></p>
      </div>