<div class="container mt-5" id="casting">
    <div class="row">
        <div class="col-3">
            <% if @casting_agent.pic %>
                <img src="<%= @casting_agent.pic %>" alt="profile pic" class="pics rounded border" >
            <% else %>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZ-DmIegqV6NuZRRdNs2sxqmYI39YksNtj7Q&usqp=CAU" class="pics rounded border">
            <% end %><br></div>
        <div class="col-6" id="casting">
            <h1 id="casting"><%= @casting_agent.name %></h1>
            Agency: <%= @casting_agent.agency %><br>
        </div>
        <% if current_casting_agent && current_casting_agent == @casting_agent %>
            <div class="col-3 field form-group">
                <%= button_to("Edit Profile", edit_casting_agent_registration_path(@casting_agent), method: :get, :class => "btn btn-outline-secondary") %>
            </div>
        <% end %>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            Events:<br>
            <% @casting_agent.events.each do |event| %>
                <%= link_to event.title, event_path(event) %><br>
            <% end %>
        </div>
        <div class="col-9" id="casting">
            About: <%= @casting_agent.about %><br>
            <br>
        </div>
    </div>
</div>


<%#https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Bill_Murray-8882.jpg/1200px-Bill_Murray-8882.jpg%>