<!DOCTYPE html>
<html>
  <head>
    <title>AuditionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/alerts' %>
    <% if current_casting_agent %>
      <%= link_to 'Sign Out', destroy_casting_agent_session_path, method: :delete %>
      <%= link_to "Home", pages_casting_agent_home_path %>
      <%= link_to "Events", events_path %>
      <%= link_to "Auditions", auditions_path %>
    <% elsif current_actor %>
      <%= link_to "Home", pages_actor_home_path %>
      <%= link_to "Events", events_path %>
      <%= link_to "Auditions", auditions_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
