<!DOCTYPE html>
<html>
  <head>
    <title>AuditionApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/21aab5294e.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat&display=swap" rel="stylesheet">
  </head>

  <body>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
